{% extends "base.html" %}

{% block title %}
	{{blog_type.type_name}}
{% endblock %}

{% block content %}
	<h3>{{blog_type.type_name}}</h3>
	
	{% for blog in blogs%}
		<a href="{% url "blog_detail" blog.pk %}">
			<h3>{{blog.title}}</h3>
			
		</a>
		
		<p>{{blog.content|truncatechars:30}}</p>
		<!-- <p>{{blog.content|truncatewords:30 }}</p> -->
		
	{% empty %}
		<p>还没有博客发表</p>
	{% endfor%}

	<hr>
		<p>共{{ blogs|length}}篇博客	</p>
	<!-- 两个方法都可以实现 -->
	<!-- <p>共{{blogs_count}}篇博客	</p> -->
{% endblock %}
